@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@plugin "daisyui" {
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #00b22d;
  --color-secondary: #d72050;
}
@import "tailwindcss";

* {
  font-family: "Inter", sans-serif;
}

.navbar a.active {
  text-decoration: underline;
}
html,
body,
#root {
  height: 100%;
}
